@font-face{
    font-family:"rajdani";
    src: url("assets/fonts/Rajdhani/Rajdhani-Regular.ttf"),
    url("/src/assets/fonts/Rajdhani/Rajdhani-Bold.ttf");
}
:root{
    --warm_violet: rgba(120, 81, 214,1);
    --intence_violet:rgba(227, 0, 201, 0.76);
    --dark_violet:rgba(41, 41, 87, 0.73);
    --ocean_blue:rgb(47, 143, 255);
    --cold_blue:rgb(47,143,255);
}
* {
    padding:0;
    margin:0;
}
.navbar-toggler{
   background-color:var(--ocean_blue);
}
a:hover {
    color:var(--intence_violet);
}
a{
    transition:color 0.3s;
    color:white;
    text-decoration:none
}
.about{
    padding:15px;
}
.actual{
    border:2px solid white;
}
article{
    flex:1.5;
}
.brand{
    margin:115px 0 0 0;
    display:flex;
    flex-direction:column;
}
.breadcrumb-item:hover > a{
    color: var(--warm_violet)!important;
}
body {
    font-family:rajdani;
    background: url(assets/images/sky.jpg) black;
    min-height:100vh;
    font-size:20px;
    color:white;
    position:relative;
}
.card{
    background:none;
    display:flex;
    flex-direction:row;
    gap:20px;
    margin:20px 0;
}
.card-body{
    border:2px solid var(--warm_violet);
    width:50%;
    border-radius:10px;
}
.decor{
    position:relative;
    max-width:250px;
}
.decor span{
    position:absolute;
    top:20px;
    left:20px;
    bottom:-20px;
    right:-20px;
    border:2px solid var(--intence_violet);
    z-index:-1;
    border-radius:7px;
}
.exp{
    margin:20px 0;
}
footer{
    position:absolute;
    left:50%;
    min-width:100%;
    transform:translateX(-50%);
    bottom:0;
    padding:10px;
    text-align:center;
}
form{
    padding:15px !important;
    border:none !important;
}
form button{
    background-color:rgba(120, 81, 214,1);
    color:white;
    outline:none;
    border:none;
    border-radius: 5px;
    padding: 15px 40px;
    transition:all 0.3s;
}
form button:hover{
    background-color:var(--cold_blue);
}

.home{
    margin:115px 0;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

input,textarea{
    width:95%;
    padding:10px;
    background:none;
    border:1px solid white;
    color:white;
    outline:none;
    margin:10px 0;
}
img{
    width:160px;
}
.info{
    display:flex;
    margin:20px 0;
}
main {
    text-align:center;
}
main h1{
    font-size:50px
}
main p{
font-size:25px;
}
.media {
    display:flex;
    justify-content:center;
    align-content:center;
    gap:20px;
    margin:60px 0;
}
.media a img {
    border-radius:50%;
    width:55px;
}
.media a{
    transition:transform 0.3s;
}
.memoji {
    margin:20px 0 20px 0;
}
.media a:hover{
    transform:scale(1.2);
}
.navbar-brand{
    display:flex;
}
.navbar-nav a, .navbar-expand-lg a{
    color:white !important;
}
.nav-item{
    min-width:100px;
    width:100%;
    text-align:center;
    background-color:#2f8fff;
    margin:0 5px;
    transition:all 0.5s;
}
.navbar-nav{
    padding:5px;
}
.navbar-brand{
    font-weight:bold !important;
}
.nav-item:hover{
    background-color:var(--dark_violet);
}
.logo{
    font-size:65px;
    letter-spacing:4px;
}
.photo{
    flex:1;
    text-align:left;
    padding:0 20px;
}
.photo img{
    width:250px;
    border:2px solid var(--intence_violet);
    border-radius:7px;
}
ul{
    list-style-type:none;
    padding:0;
}

@media screen and (max-width:495px){
    .media{
        margin:10px 0 0 0;
    }
    .logo{
        font-size:30px !important;
    }
    footer{
        font-size:17px;
    }
}
@media screen and (max-width:800px){
    .home p{
        font-size:20px;
    }
    .card{
        flex-direction:column;
    }
    .card-body{
        width:100%;
    }
    .home {
        margin:40px 0;
    }
    .info{
        flex-direction:column;
        align-items:center;
    }
    .memoji{
        margin:35px 0;
    }
    .logo{
        font-size:50px;
    }
    .photo{
        margin:18px 0;
    }
}
@media screen and (max-width:375px){

    .home p{
        font-size:17px;
    }
    footer{
        font-size:14px;
    }
    .home{
        margin:10px 0;
    }
    .media a img {
        border-radius:50%;
        width:40px;
    }
    .logo{
        font-size:30px;
    }
}