
.icon-mail:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-barcode:before { content: '\e802'; } /* '' */
.icon-css:before { content: '\e803'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
